<!--
    index ejs file for contact
    FIle name: index.ejs
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 11th, 2019
-->

<% include ../partials/_header.ejs %>

    <div id="main">
            <p><%= title %> </p>

    </div>

<% include ../partials/_footer.ejs %>
