<app-base-page></app-base-page>

<div id="main" class="container">
    <div class="row">
        <div class="col-md-4" id="picture">
          <img src="../../../assets/images/myPicture.png" class="rounded m-5 d-block" />
        </div>
        <div class="col-md-6 " id="description">
            <div id="name">
              <h1>Hi, I'm Jake Dongwan Kim</h1>
              <h3><i>Welcome, thanks for visiting!</i></h3>
              <h3><i>I recently graduate from a college</i></h3>
            </div>
            <div id="info">
              <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;zeumes12@gmail.com</p>
              <p><i class="fa fa-2x fa-mobile"></i>&nbsp;&nbsp;(647) 862-6568</p>
              <p><i class="fa fa-map"></i>&nbsp;&nbsp;Toronto</p>
              <a href="../../../assets/documents/Jake Kim_resume.pdf" download><i class="fa fa-file"></i>&nbsp;&nbsp;Click here to download CV</a>
            </div>

        </div>
  </div>
  </div>
