<!--
    Footer ejs file
    FIle name: footer.ejs
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 11th, 2019
-->

    <footer id="footer" >
        <div class="group">
          <div class="social">
            <a href="https://www.linkedin.com/in/dongwan-kim-jake/"><i class="fa fa-3x fa-linkedin-square"></i></a>
            <a href="https://github.com/WanDongKim"><i class="fa fa-3x fa-github-square"></i></a>
            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=zeumes12@gmail.com"><i class="fa fa-3x fa-google"></i></a>
            <a href="https://www.instagram.com/wan__dong/"><i class="fa fa-3x fa-instagram"></i></a>
            <a href="https://www.facebook.com/dongwan.kim.545"><i class="fa fa-3x fa-facebook-square"></i></a>
          </div>
          <small>Copyright &copy; 2019 All Rights Dongwan Kim, All rights reserved</small>
        </div>
    </footer>
    <!-- JavaScript Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
