<!--
    Footer ejs file
    FIle name: footer.ejs
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 11th, 2019
-->

    <footer id="footer">
        <div class="group">
        
        
        </div>
    </footer>
    <!-- JavaScript Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
