<footer id="footer" >
  <div class="group">
    <div class="social">
      <a routerLink="https://www.linkedin.com/in/dongwan-kim-jake/"><i class="fab fa-3x fa-linkedin"></i></a>
      <a href="https://github.com/WanDongKim"><i class="fab fa-3x fa-github-square"></i></a>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=zeumes12@gmail.com"><i class="fab fa-3x fa-google"></i></a>
      <a href="https://www.instagram.com/wan__dong/"><i class="fab fa-3x fa-instagram"></i></a>
      <a href="https://www.facebook.com/dongwan.kim.545"><i class="fab fa-3x fa-facebook-square"></i></a>

    </div>
    <small>Copyright &copy; {{ year }} All Rights Dongwan Kim, All rights reserved</small>
  </div>
</footer>
