<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      <%= title %>
    </title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="styleSheet" href="Contents/app.css" />
  </head>
  <body>
    <header id="header" role="banner">
      <div class="group">
        <nav id="nav" role="navigation" >
          <ul id="menu-item" class="nav justify-content-center">

            <li class="nav-item">
              <a class="nav-link" href="/">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Projects</a>
            </li>
            <a class="text-center" href="/">
                <img
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  src="Assets/images/MyLogo.png"
                  class="rounded mx-auto d-block"
                />
                <div class="logo-name">
                  <h4>Jake Dongwan Kim</h4>
                  <h5>Web developer</h5>
                </div>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Contact</a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- JavaScript Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
