<app-base-page></app-base-page>

<header id="header_main" role="banner">
  <div class="group">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="menu-item" class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about">About me</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" routerLink="/services">Services</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
      <a id="brand" routerLink="/">
        <img
          srcset="../../../assets/images/myLogo.png"
          width="3%"
          height="3%"
          class="rounded mx-auto d-block"
        />
      </a>
  </div>

<div class="intro">
  <h1>Jake Dongwan Kim</h1>
    <h5>Graduate in Software Engineering</h5>
    <br />
    <h3>
      Passion for Software Engineering with creativity and effective
      programming skills
    </h3>
</div>
<hr />
<div class="social">
  <a routerLink="https://www.linkedin.com/in/dongwan-kim-jake/"><i class="fab fa-3x fa-linkedin"></i></a>
  <a routerLink="https://github.com/WanDongKim"><i class="fab fa-3x fa-github-square"></i></a>
  <a routerLink="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=zeumes12@gmail.com"><i class="fab fa-3x fa-google"></i></a>
  <a routerLink="https://www.instagram.com/wan__dong/"><i class="fab fa-3x fa-instagram"></i></a>
  <a routerLink="https://www.facebook.com/dongwan.kim.545"><i class="fab fa-3x fa-facebook"></i></a>

</div>

</header>

