/* Contact style file
    FIle name: contact.css
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 15th, 2019
*/
#contact #contact-form{
  width:50%;
  margin: 0 auto 0 auto;
}
#contact #contact_head{
  color: #808080;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
#contact #contact_head h3{
  font-weight: bold;
  color: #4d4d4d;
}
