<!--
    index ejs file for service
    FIle name: index.ejs
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 11th, 2019
-->

<% include ../partials/_header.ejs %>

    <div id="service">
            <div id="service_head">
                <h2>I am familar with these skills:</h2>
            </div>
            <div id="techSkills">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Languages</th>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/CSharp.png" />
                                            <p>C#</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/Java.png" />
                                            <p>Java</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/JavaScript.png" />
                                            <p>JavaScript</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/TypeScript.png" />
                                            <p>TypeScript</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/Html5.png" />
                                            <p>HTML 5</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/Css3.png" />
                                            <p>CSS 3</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/SQL.png" />
                                            <p>SQL</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Framework & Library</th>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/DotNet.png" />
                                            <p>ASP.NET CORE</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/React.png" />
                                            <p>React</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/NodeJS.png" />
                                            <p>NodeJS</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/expressJS.png" />
                                            <p>Express JS </p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/JQuery.png" />
                                            <p>JQuery</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/Bootstrap.png" />
                                            <p>Bootstrap</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Database</th>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/OracleDB.png" />
                                            <p>Oracle</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/SQLServer.png" />
                                            <p>SQL Server</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/MySQL.png" />
                                            <p>MySQL</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/mongoDB.png" />
                                            <p>MongoDB</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/PostgreSQL.png" />
                                            <p>PostgreSQL</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Server</th>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/MSAzure.png" />
                                            <p>MS Azure</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/AWS.png" />
                                            <p>AWS</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/IIS.png" />
                                            <p>IIS</p>
                                        </td>
                                        <td>
                                            <img class="rounded mx-auto d-block" src="Assets/images/skillsImg/Linux.png" />
                                            <p>Linux</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
    </div>

<% include ../partials/_footer.ejs %>
