<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1>My Todo List</h1>
            <br >
            <a class="btn btn-primary" routerLink="/todo/add" role="button">
            <i class="fas fa-plus-circle"></i> Add an item</a>

            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Due Date</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>

                <!-- Repeatable Template Row -->
                    <tr *ngFor="let todo of todoList">
                        <td class="text-center">{{ todo.name }}</td>
                        <td class="text-center">{{ todo.description }}</td>
                        <td class="text-center">{{ todo.finishBy | date: "yyyy-MM-dd" }}</td>

                        <td class="text-center">
                        <a routerLink="/todo/edit/{{ todo._id }}"
                            class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>

                        <td class="text-center">
                                <a routerLink="/todo/delete/{{ todo._id }}"
                                    (click)="onDeleteClick()"
                                    class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                                </td>
                    </tr>
            </table>

        </div>
    </div>
  </div>
