<app-base-page></app-base-page>
<div id="project">
    <div id="project_head">
        <h2>Here are what I have done:</h2>

    </div>
    <div id="project_body">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5> Web applications: </h5>
                    <div class="card-deck">
                        <!-- Project 1-->
                        <div class="card border-light text-center">
                            <div class="card-image">
                                <!-- <a data-toggle="modal" data-target="#project1"> -->
                                    <img src="../../../Assets/images/projectImg/WhatSAP_logo.png" class="card-img-top" />
                                    <div class="overlay">
                                        <div class="text"><i class="fa fa-3x fa-plus"></i></div>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <hr />
                            <div class="card-body">
                                <h5 class="card-title">WhatSAP
                                    <a href="https://github.com/WanDongKim/WhatSAP"><i class="fab fa-github"></i></a>
                                </h5>
                                <p class="card-text">
                                    <i>
                                        Social Activity Platform Web Application
                                    </i>
                                </p>
                            </div>
                            <div class="card-footer text-right">
                                    <small class="text-muted">Worked as a leading developer in a team</small>
                            </div>
                        </div>
                        <!-- Project 2-->
                        <div class="card border-light text-center">
                            <div class="card-image">
                                <img src="../../../Assets/images/projectImg/MarketPlaceAPI.jpg" class="card-img-top" />
                                <div class="overlay">
                                    <div class="text"><i class="fa fa-3x fa-plus"></i></div>
                                </div>
                            </div>
                            <hr />
                            <div class="card-body">
                                <h5 class="card-title">
                                    MarketPlace API
                                    <a href="https://github.com/WanDongKim/MarketPlaceAPI"><i class="fab fa-github"></i></a>
                                </h5>
                                <p class="card-text">
                                    <i>
                                        API offers users to see different offer in-app and find the
                                        best suitable deals
                                    </i>
                                </p>
                            </div>
                            <div class="card-footer text-right">
                                <small class="text-muted">Worked as an individual</small>
                            </div>
                        </div>
                        <!-- Project 3-->
                        <div class="card border-light text-center">
                            <div class="card-image">
                                <img src="../../../Assets/images/projectImg/Guardians.png" class="card-img-top" />
                                <div class="overlay">
                                    <div class="text"><i class="fa fa-3x fa-plus"></i></div>
                                </div>
                            </div>
                            <hr />

                            <div class="card-body">
                                <h5 class="card-title">
                                    The Guardians of Galaxy
                                    <a href="https://github.com/WanDongKim/The-Galaxy-of-the-Guardians"><i class="fab fa-github"></i></a>
                                </h5>
                                <p class="card-text">
                                    <i>
                                        2D top-down shooting game
                                    </i>
                                </p>
                            </div>
                            <div class="card-footer text-right">
                                <small class="text-muted">Worked as a back-end developer in a team</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
