<app-base-page></app-base-page>
<div id="service">
    <div id="service_head">
        <h2>I am familar with these skills:</h2>
    </div>
    <div id="techSkills">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Languages</th>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/CSharp.png" />
                                    <p>C#</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/Java.png" />
                                    <p>Java</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/JavaScript.png" />
                                    <p>JavaScript</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/TypeScript.png" />
                                    <p>TypeScript</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/Html5.png" />
                                    <p>HTML 5</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/Css3.png" />
                                    <p>CSS 3</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/SQL.png" />
                                    <p>SQL</p>
                                </td>
                            </tr>
                            <tr>
                                <th>Framework & Library</th>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/DotNet.png" />
                                    <p>ASP.NET CORE</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/React.png" />
                                    <p>React</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/NodeJS.png" />
                                    <p>NodeJS</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/expressJS.png" />
                                    <p>Express JS </p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/JQuery.png" />
                                    <p>JQuery</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/Bootstrap.png" />
                                    <p>Bootstrap</p>
                                </td>
                            </tr>
                            <tr>
                                <th>Database</th>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/OracleDB.png" />
                                    <p>Oracle</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/SQLServer.png" />
                                    <p>SQL Server</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/MySQL.png" />
                                    <p>MySQL</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/mongoDB.png" />
                                    <p>MongoDB</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/PostgreSQL.png" />
                                    <p>PostgreSQL</p>
                                </td>
                            </tr>
                            <tr>
                                <th>Server</th>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/MSAzure.png" />
                                    <p>MS Azure</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/AWS.png" />
                                    <p>AWS</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/IIS.png" />
                                    <p>IIS</p>
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block" src="../../../assets/images/skillsImg/Linux.png" />
                                    <p>Linux</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
