/* About style file
    FIle name: about.css
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 13rd, 2019
*/
#picture {
    margin-left: auto;
    margin-right: auto;
}
#picture img{
    width: 15rem;
}

#description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#description #name{
    margin-top: 2rem;
}
#description #name h2{
    margin-top: 2rem;

}
#description #info {
    margin: 1rem;
}
#description #info a:hover{
    text-decoration-line: none;
}