/* Header style file
    FIle name: header.css
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 11th, 2019
*/
html,body{
    height: 100%;
}

/* Main page */
#header_main {
    background-image: url("../Assets/images/header_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    text-align: center;
}
#header_main a{
    color: white;
} 
#header_main a:hover{
    color: tomato;
    transition: 1s;
}
#header_main h1, h5{
    font-weight: bold;  
}
#header_main hr {
    border-style: inset;
    border-width: 1px;
    border-color:darkgray;
    display: block;
    margin: 5rem 30%  5rem 30%;
}
#header_main .intro{
    color: white;
    margin-top: 10%;
    text-align: center;
}
#header_main .intro h3{
    font-size: 1.5rem;
    margin-top: 1rem;
}
#header_main .intro h5{
    font-size: 1.2rem;
}
#header_main .social {
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#header_main .social a{
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
}

/* Header for others */
#header {
    background-image: url("../Assets/images/header_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#header a{
    color: white;
} 
#header a:hover{
    color: tomato;
    transition: 1s;
}

#header h1, h5{
    font-weight: bold;  
}
#header hr {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-style: inset;
    border-width: 1px;
    border-color:darkgray;
}
#header .intro{
    color: white;
    text-align: center;
    margin-top: 1%;
}
#header .intro h3{
    margin-top: 1rem;
    font-size: 1.5rem;
}
#header .intro h5{
    font-size: 1.2rem;
}
#header .social {
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#header .social a{
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
}

