/* Project style file
    FIle name: project.css
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 16th, 2019
*/

#project #project_head h2 {
  margin: 2rem 0 2rem 0;
  text-align: center;
}
#project .card hr{
    margin-left: 10%;
    margin-right: 10%;
    border-color:gainsboro;
}
/* #project .card .card-image:hover .overlay{
    opacity: 1;
    transition: 2s;
} */
/* #project .card .card-image:hover img{
    opacity: 0.3;
    transition: 2s;
} */

#project .card .card-img-top{
    margin: 1rem auto 1rem auto;
    max-width: 15rem;
    max-height: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    text-align: center;
    display: block;
}
#project .card .overlay{
    opacity: 0;
    left:50%;
    top: 30%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);

}
#project .card .text{
    color: #595e64;
    font-size: 20px;
}
#project .card .text:active{
    transform: translate(-2%, 2%);

}
#carouselControls{
    margin: 0 auto 0 auto;
    min-width: 50rem;
}
#imgge{
    margin: 1rem auto 1rem auto;
    max-width: 50rem;
    max-height: 50rem;

}

/* #pic{
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
} */