/* Service style file
    FIle name: service.css
    Name: Dongwan Kim
    Student id: 300932262
    Date: Feb 15th, 2019
*/

#service #service_head h2{
    text-align: center;
    margin: 2rem 0 2rem 0;
}
#service #techSkills th{
    vertical-align: middle;
}
#service #techSkills img{
    text-align: center;
    max-width: 4rem;
    max-height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
}
#service #techSkills p{
    text-align: center;
    font-weight: bold;
}